<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Prediction</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="heading" id="heading">LoraFireNet🔥</h1>
    <h3 class="tagline" id="tagline">Protecting our forests!</h3>
    <h1 class="text-center">Last Sensor Data</h1>
    <div class="container" id="container">
        <div class="sensor-data">
            <p>Humidity (%):</p>
            <p>{{ humidity }}</p>
        </div>
        <div class="sensor-data">
            <p>Smoke (ppm):</p>
            <p id="smoke">{{ smoke }}</p>
        </div>
        <div class="sensor-data">
            <p>Temperature (°C):</p>
            <p>{{ temperature }}</p>
        </div>
    </div>
    <h1 class="text-center">Prediction</h1>
    <div class="prediction-container">
        <p>Probability of Fire Occurrence: {{ prediction }}</p>
    </div>

    <!-- Alert container for smoke level message -->
    <div class="alert-container" id="alert-container">
        <p id="alert-message"></p>
    </div>

    <script>
        // Get the smoke level
        var smokeLevel = parseInt(document.getElementById("smoke").innerText);

        // Select the alert container and alert message elements
        var alertContainer = document.getElementById("alert-container");
        var alertMessage = document.getElementById("alert-message");

        // Clear any previous alert message
        alertMessage.innerText = "";

        // Check smoke level and set alert message accordingly
        if (smokeLevel <= 50) {
            alertContainer.style.backgroundColor = "lightgreen"; // Change background color for low smoke level
            alertMessage.innerText = "Smoke level is low.";
        } else if (smokeLevel <= 100) {
            alertContainer.style.backgroundColor = "yellow"; // Change background color for potential fire
            alertMessage.innerText = "Potential fire detected! Take necessary precautions.";
        } else {
            alertContainer.style.backgroundColor = "red"; // Change background color for high smoke level
            alertMessage.innerText = "High smoke level detected! Potential fire outbreak. Take immediate action!";
        }
    </script>
</body>
</html>
